[Unit]
Description=Main unit for restartall/lb2/tb [global]
Requires=docker.service
Requires=restartall-lb2-ta-mn.service
After=docker.service
After=restartall-lb2-ta-mn.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-e SERVICE_NAME=restartall-lb2-tb"
Environment="A01=--log-driver=test"
ExecStartPre=/usr/bin/docker pull foo-b
ExecStartPre=-/usr/bin/docker stop -t 10 restartall-lb2-tb
ExecStartPre=-/usr/bin/docker rm -f restartall-lb2-tb
ExecStart=/usr/bin/docker run --rm --name restartall-lb2-tb -P $A00 $A01 foo-b
ExecStop=-/usr/bin/docker stop -t 10 restartall-lb2-tb
ExecStopPost=-/usr/bin/docker rm -f restartall-lb2-tb

[X-Fleet]
Global=true

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
