[Unit]
Description=Main unit for metrics/default_web/server_rules [slice 1]
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-e SERVICE_NAME=metrics-default_web-server_rules"
Environment="A01=--log-driver=test"
ExecStartPre=/usr/bin/docker pull myrules:latest
ExecStartPre=-/usr/bin/docker stop -t 10 metrics-default_web-server_rules-1
ExecStartPre=-/usr/bin/docker rm -f metrics-default_web-server_rules-1
ExecStartPre=-/home/core/bin/docker-cleanup.sh
ExecStart=/usr/bin/docker run --rm --name metrics-default_web-server_rules-1 -P $A00 $A01 myrules:latest
ExecStartPost=/bin/sh -c 'echo eyJzZXJ2aWNlIjoibWV0cmljcy1kZWZhdWx0X3dlYi1zZXJ2ZXJfcnVsZXMiLCJydWxlc19wYXRoIjoiL21ldHJpY3MvcnVsZXMifQ== | base64 -d | /usr/bin/etcdctl set /pulcy/metrics/metrics-default_web-server_rules-1'
ExecStop=-/usr/bin/etcdctl rm /pulcy/metrics/metrics-default_web-server_rules-1
ExecStop=-/usr/bin/docker stop -t 10 metrics-default_web-server_rules-1
ExecStopPost=-/usr/bin/docker rm -f metrics-default_web-server_rules-1

[X-Fleet]
Conflicts=metrics-default_web-server_rules-mn@*.service
MachineOf=metrics-default_web-server-mn@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
MetricsRegistration="/pulcy/metrics/metrics-default_web-server_rules-1={\"service\":\"metrics-default_web-server_rules\",\"rules_path\":\"/metrics/rules\"}"
