[Unit]
Description=Main unit for test/web/nginx [slice 1]
Requires=docker.service
Requires=test-web-storage-mn@1.service
Requires=docker.service
After=docker.service
After=yard.service
After=test-web-storage-mn@1.service

[Service]
Restart=on-failure
RestartSec=1
StartLimitInterval=300s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=--volumes-from test-web-storage-1"
Environment="A01=-e \"cattest=This is the content of file.txt\""
Environment="A02=-e \"envkey=test-env\""
Environment="A03=-e \"key=123\""
Environment="A04=-e \"name=ewout\""
Environment="A05=-e \"opttest1=value1\""
Environment="A06=-e \"opttest2=value2\""
Environment="A07=-e \"opttestenv=test-env\""
Environment="A08=-e \"quotetest=hello\""
Environment="A09=-e \"replacetest=1.2.3\""
Environment="A10=-e SERVICE_NAME=test-web-nginx"
Environment="A11=--add-host test.couchdb.couchdb.private:${COREOS_PRIVATE_IPV4}"
ExecStartPre=/usr/bin/docker pull alpine:3.2
ExecStartPre=-/usr/bin/docker stop -t 10 test-web-nginx-1
ExecStartPre=-/usr/bin/docker rm -f test-web-nginx-1
ExecStart=/usr/bin/docker run --rm --name test-web-nginx-1 -P $A00 $A01 $A02 $A03 $A04 $A05 $A06 $A07 $A08 $A09 $A10 $A11 alpine:3.2 ls -al --db http://test.couchdb.couchdb.private:81
ExecStartPost=/bin/sh -c 'echo eyJzZWxlY3RvcnMiOlt7InBhdGgtcHJlZml4IjoiLyJ9LHsid2VpZ2h0IjoxMCwiZG9tYWluIjoiZm9vLmNvbSJ9LHsid2VpZ2h0IjoxMiwiZG9tYWluIjoiZm9vMi5jb20iLCJwYXRoLXByZWZpeCI6Ii9mb28yIiwic3NsLWNlcnQiOiJwdWxjeS5wZW0iLCJ1c2VycyI6W3sidXNlciI6InRlc3RlciIsInB3aGFzaCI6InRlUk92WWNUUVNNZ1EifV19XSwic2VydmljZSI6InRlc3Qtd2ViLW5naW54IiwiaHR0cC1jaGVjay1wYXRoIjoiLyJ9 | base64 -d | /usr/bin/etcdctl set /pulcy/frontend/test-web-nginx-1'
ExecStop=-/usr/bin/etcdctl rm /pulcy/frontend/test-web-nginx-1
ExecStop=-/usr/bin/docker stop -t 10 test-web-nginx-1
ExecStopPost=-/usr/bin/docker rm -f test-web-nginx-1

[X-Fleet]
MachineOf=test-web-backup-mn@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
FrontEndRegistration="/pulcy/frontend/test-web-nginx-1={\"selectors\":[{\"path-prefix\":\"/\"},{\"weight\":10,\"domain\":\"foo.com\"},{\"weight\":12,\"domain\":\"foo2.com\",\"path-prefix\":\"/foo2\",\"ssl-cert\":\"pulcy.pem\",\"users\":[{\"user\":\"tester\",\"pwhash\":\"teROvYcTQSMgQ\"}]}],\"service\":\"test-web-nginx\",\"http-check-path\":\"/\"}"
