[Unit]
Description=Main unit for test/web/backup slice 2
Requires=docker.service
Requires=docker.service
After=docker.service
After=yard.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull mybackup:latest
ExecStartPre=-/usr/bin/docker stop -t 10 test-web-backup-2
ExecStartPre=-/usr/bin/docker rm -f test-web-backup-2
ExecStart=/usr/bin/docker run --rm --name test-web-backup-2 -P -e SERVICE_NAME=test-web-backup mybackup:latest
ExecStop=-/usr/bin/docker stop -t 10 test-web-backup-2
ExecStopPost=-/usr/bin/docker rm -f test-web-backup-2

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
