[Unit]
Description=Main unit for test/host/host [slice 1]
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=--net=host"
Environment="A01=-e SERVICE_NAME=test-host-host"
Environment="A02=--log-driver=test"
ExecStartPre=/usr/bin/docker pull redis:latest
ExecStartPre=-/usr/bin/docker stop -t 10 test-host-host-1
ExecStartPre=-/usr/bin/docker rm -f test-host-host-1
ExecStartPre=-/home/core/bin/docker-cleanup.sh
ExecStart=/usr/bin/docker run --rm --name test-host-host-1 $A00 -P $A01 $A02 redis:latest
ExecStop=-/usr/bin/docker stop -t 10 test-host-host-1
ExecStopPost=-/usr/bin/docker rm -f test-host-host-1

[X-Fleet]
Conflicts=test-host-host-mn@*.service
MachineMetadata="core=true"

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
