[Unit]
Description=Proxy 0 unit for proxy/p2/p2 [slice 1]
Requires=docker.service
Requires=proxy-p2-p2-mn@1.service
After=docker.service
StopWhenUnneeded=yes

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=--expose 6379"
Environment="A01=-e SERVICE_IGNORE=true"
Environment="A02=--log-driver=test"
Environment="A03=--etcd-path=/pulcy/service/proxy-p1-redis"
ExecStartPre=/usr/bin/docker pull pulcy/wormhole:latest
ExecStartPre=-/usr/bin/docker stop -t 10 proxy-p2-p2-1-pr0
ExecStartPre=-/usr/bin/docker rm -f proxy-p2-p2-1-pr0
ExecStartPre=-/home/core/bin/docker-cleanup.sh
ExecStart=/usr/bin/docker run --rm --name proxy-p2-p2-1-pr0 $A00 -P $A01 $A02 pulcy/wormhole:latest --etcd-endpoint=${ETCD_ENDPOINTS} $A03
ExecStop=-/usr/bin/docker stop -t 10 proxy-p2-p2-1-pr0
ExecStopPost=-/usr/bin/docker rm -f proxy-p2-p2-1-pr0

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
