[Unit]
Description=Main unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2:/config/cert.pem:ro"
Environment="A01=--env-file=/tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A02=-e SERVICE_NAME=secrets-env_secrets-env_secrets"
Environment="A03=--log-driver=test"
Environment="A04=--key"
Environment="A05=--net=host"
Environment="A06=-v /tmp/secrets/secrets-env_secrets-env_secrets-1:/tmp/secrets/secrets-env_secrets-env_secrets-1"
Environment="A07=-v /etc/pulcy/vault.crt:/etc/pulcy/vault.crt:ro"
Environment="A08=-v /etc/pulcy/cluster-id:/etc/pulcy/cluster-id:ro"
Environment="A09=-v /etc/machine-id:/etc/machine-id:ro"
Environment="A10=--env-file /etc/pulcy/vault.env"
Environment="A11=pulcy/vault-monkey:latest"
Environment="A12=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2"
Environment="A13=--job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986"
Environment="A14=secret/certificates/api.pulcy.com"
Environment="A15=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A16=MYSECRET_KEY=secret/foo#somevalue"
ExecStartPre=/usr/bin/docker pull alpine:3.2
ExecStartPre=/usr/bin/mkdir -p /tmp/secrets/secrets-env_secrets-env_secrets-1
ExecStartPre=/usr/bin/docker pull pulcy/vault-monkey:latest
ExecStartPre=/usr/bin/docker run --rm $A05 $A06 $A07 $A08 $A09 $A10 $A03 $A11 extract file $A12 $A13 $A14
ExecStartPre=/usr/bin/docker run --rm $A05 $A06 $A07 $A08 $A09 $A10 $A03 $A11 extract env $A15 $A13 $A16
ExecStartPre=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStartPre=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1
ExecStartPre=-/home/core/bin/docker-cleanup.sh
ExecStart=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1 -P $A00 $A01 $A02 $A03 alpine:3.2 $A04 ${MYSECRET_KEY}
ExecStop=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStopPost=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
