[Unit]
Description=Main unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-mn@1.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2:/config/cert.pem:ro"
Environment="A01=--env-file=/tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A02=-e SERVICE_NAME=secrets-env_secrets-env_secrets"
Environment="A03=--log-driver=test"
Environment="A04=--name secrets-env_secrets-env_secrets-1-sc"
Environment="A05=-v /tmp/secrets/secrets-env_secrets-env_secrets-1:/tmp/secrets/secrets-env_secrets-env_secrets-1"
Environment="A06=-v /etc/pulcy/vault.crt:/etc/pulcy/vault.crt:ro"
Environment="A07=-v /etc/pulcy/cluster-id:/etc/pulcy/cluster-id:ro"
Environment="A08=-v /etc/machine-id:/etc/machine-id:ro"
Environment="A09=--env-file /etc/pulcy/vault.env"
Environment="A10=pulcy/vault-monkey:latest"
Environment="A11=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2"
Environment="A12=--job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986"
Environment="A13=secret/certificates/api.pulcy.com"
Environment="A14=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A15=MYSECRET_KEY=secret/foo#somevalue"
ExecStartPre=/usr/bin/docker pull alpine:3.2
ExecStartPre=/usr/bin/mkdir -p /tmp/secrets/secrets-env_secrets-env_secrets-1
ExecStartPre=/usr/bin/docker pull pulcy/vault-monkey:latest
ExecStartPre=/usr/bin/docker run --rm $A04 $A05 $A06 $A07 $A08 $A09 $A03 $A10 extract file $A11 $A12 $A13
ExecStartPre=/usr/bin/docker run --rm $A04 $A05 $A06 $A07 $A08 $A09 $A03 $A10 extract env $A14 $A12 $A15
ExecStartPre=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStartPre=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1
ExecStart=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1 -P $A00 $A01 $A02 $A03 alpine:3.2 --key ${MYSECRET_KEY}
ExecStop=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStopPost=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
