[Unit]
Description=Main unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-sc@1.service
After=docker.service
After=yard.service
After=secrets-env_secrets-env_secrets-sc@1.service

[Service]
Restart=on-failure
RestartSec=1
StartLimitInterval=300s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2:/config/cert.pem:ro"
Environment="A01=--env-file=/tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A02=-e SERVICE_NAME=secrets-env_secrets-env_secrets"
ExecStartPre=/usr/bin/docker pull alpine:3.2
ExecStartPre=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStartPre=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1
ExecStart=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1 -P $A00 $A01 $A02 alpine:3.2 --key ${MYSECRET_KEY}
ExecStop=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStopPost=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1

[X-Fleet]
MachineOf=secrets-env_secrets-env_secrets-sc@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
