[Unit]
Description=Secrets unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-mn@1.service
After=docker.service
After=yard.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker run --rm -v /etc/pulcy/cluster-id:/etc/pulcy/cluster-id:ro -v /etc/machine-id:/etc/machine-id:ro  extract file --target /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2 --job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986 secret/certificates/api.pulcy.com
ExecStart=/usr/bin/docker run --rm -v /etc/pulcy/cluster-id:/etc/pulcy/cluster-id:ro -v /etc/machine-id:/etc/machine-id:ro  extract env --job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986 MYSECRET_KEY=secret/foo#somevalue

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
