[Unit]
Description=Secrets unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
After=docker.service
After=yard.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=TODO

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
