[Unit]
Description=Volume 0 unit for volumes/v1/storage [slice 1]
Requires=docker.service
Requires=volumes-v1-storage-mn@1.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /media/volumes/v1/storage/1/9112fb28:/data:shared"
Environment="A01=-v /usr/bin/etcdctl:/usr/bin/etcdctl"
Environment="A02=-e SERVICE_IGNORE=true"
Environment="A03=-e PREFIX=volumes/v1/storage/1/9112fb28"
Environment="A04=-e TARGET=/data"
Environment="A05=-e WAIT=1"
Environment="A06=--log-driver=test"
ExecStartPre=/usr/bin/docker pull 
ExecStartPre=/bin/sh -c 'test -e /media/volumes/v1/storage/1/9112fb28 || mkdir -p /media/volumes/v1/storage/1/9112fb28'
ExecStartPre=-/usr/bin/docker stop -t 10 volumes-v1-storage-1-vl0
ExecStartPre=-/usr/bin/docker rm -f volumes-v1-storage-1-vl0
ExecStart=/usr/bin/docker run --rm --name volumes-v1-storage-1-vl0 --net=host --privileged $A00 $A01 $A02 $A03 $A04 $A05 $A06 
ExecStop=-/usr/bin/docker stop -t 10 volumes-v1-storage-1-vl0
ExecStopPost=-/usr/bin/docker rm -f volumes-v1-storage-1-vl0

[X-Fleet]
MachineOf=volumes-v1-backup-mn@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
