[Unit]
Description=Timer unit for test/web/backup [slice 1]
Requires=test-web-backup-ti@1.timer

[Timer]
OnCalendar=hourly
Unit=test-web-backup-mn@1.service

[X-Fleet]
MachineOf=test-web-backup-mn@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
