[Unit]
Description=Proxy 0 unit for test/web/storage [slice 2]
Requires=docker.service
Requires=test-web-storage-mn@2.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=--expose 6379"
Environment="A01=-e SERVICE_IGNORE=true"
Environment="A02=--log-driver=test"
ExecStartPre=/usr/bin/docker pull 
ExecStartPre=-/usr/bin/docker stop -t 10 test-web-storage-2-pr0
ExecStartPre=-/usr/bin/docker rm -f test-web-storage-2-pr0
ExecStart=/usr/bin/docker run --rm --name test-web-storage-2-pr0 $A00 -P $A01 $A02  --etcd-addr http://${COREOS_PRIVATE_IPV4}:2379/pulcy/service/job-redis-master
ExecStop=-/usr/bin/docker stop -t 10 test-web-storage-2-pr0
ExecStopPost=-/usr/bin/docker rm -f test-web-storage-2-pr0

[X-Fleet]
Conflicts=test-web-storage-pr0@*.service
MachineOf=test-web-backup-mn@2.service
MachineID=123456789
MachineMetadata="web=true" "core=true"

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
