[Unit]
Description=Main unit for test/web/storage [slice 1]
Requires=docker.service
Requires=docker.service
After=docker.service
After=yard.service

[Service]
Restart=on-failure
RestartSec=1
StartLimitInterval=300s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-e SERVICE_NAME=test-web-storage"
ExecStartPre=/usr/bin/docker pull mystorage:latest
ExecStartPre=-/usr/bin/docker stop -t 10 test-web-storage-1
ExecStartPre=-/usr/bin/docker rm -f test-web-storage-1
ExecStart=/usr/bin/docker run --rm --name test-web-storage-1 -P $A00 mystorage:latest
ExecStop=-/usr/bin/docker stop -t 10 test-web-storage-1
ExecStopPost=-/usr/bin/docker rm -f test-web-storage-1

[X-Fleet]
Conflicts=test-web-storage-mn@*.service
MachineOf=test-web-backup-mn@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
