[Unit]
Description=Main unit for test/registrator/registrator [global]
Requires=docker.service
Requires=docker.service
After=docker.service
After=yard.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /var/run/docker.sock:/tmp/docker.sock"
Environment="A01=-e SERVICE_NAME=test-registrator-registrator"
Environment="A02=--cap-add IPC_LOCK"
Environment="A03=--log-driver=test"
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:latest
ExecStartPre=-/usr/bin/docker stop -t 10 test-registrator-registrator
ExecStartPre=-/usr/bin/docker rm -f test-registrator-registrator
ExecStartPre=/bin/sh -c 'test -e /var/run/docker.sock || mkdir -p /var/run/docker.sock'
ExecStart=/usr/bin/docker run --rm --name test-registrator-registrator -P $A00 $A01 $A02 $A03 gliderlabs/registrator:latest etcd://${COREOS_PRIVATE_IPV4}:4001/pulcy
ExecStop=-/usr/bin/docker stop -t 10 test-registrator-registrator
ExecStopPost=-/usr/bin/docker rm -f test-registrator-registrator

[X-Fleet]
Global=true
MachineMetadata="core=true"

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
