[Unit]
Description=Main unit for test/some_proxy/some_proxy [slice 1]
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-e SERVICE_NAME=test-some_proxy-some_proxy"
Environment="A01=--log-driver=test"
ExecStart=/usr/bin/true
ExecStartPost=/bin/sh -c 'echo eyJzZWxlY3RvcnMiOlt7ImRvbWFpbiI6InRlc3Quc29tZV9wcm94eS5zb21lX3Byb3h5LnByaXZhdGUiLCJwb3J0Ijo4MCwicHJpdmF0ZSI6dHJ1ZSwicmV3cml0ZS1ydWxlIjp7InBhdGgtcHJlZml4IjoiL19kYi9mb28vYXBwIn19XSwic2VydmljZSI6InRlc3Qtc29tZV9wcm94eS1zb21lX3Byb3h5In0= | base64 -d | /usr/bin/etcdctl set /pulcy/frontend/test-couchdb-couchdb-1'
ExecStop=-/usr/bin/etcdctl rm /pulcy/frontend/test-couchdb-couchdb-1

[X-Fleet]
Conflicts=test-some_proxy-some_proxy-mn@*.service
MachineMetadata="core=true"

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
FrontEndRegistration="/pulcy/frontend/test-couchdb-couchdb-1={\"selectors\":[{\"domain\":\"test.some_proxy.some_proxy.private\",\"port\":80,\"private\":true,\"rewrite-rule\":{\"path-prefix\":\"/_db/foo/app\"}}],\"service\":\"test-some_proxy-some_proxy\"}"
