[Unit]
Description=Main unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-sc@1.service
After=docker.service
After=yard.service
After=secrets-env_secrets-env_secrets-sc@1.service

[Service]
Restart=on-failure
RestartSec=1
StartLimitInterval=300s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull alpine:3.2
ExecStartPre=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStartPre=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1
ExecStart=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1 -P -v /tmp/secrets/secrets-env_secrets-env_secrets-1/7ed4842cbaf10e6b4c0ccee88d4edf55f6c5fa4a:/config/cert.pem:ro -e "MYSECRET_KEY=${MYSECRET_KEY}" -e SERVICE_NAME=secrets-env_secrets-env_secrets alpine:3.2 --key ${MYSECRET_KEY}
ExecStop=-/usr/bin/docker stop -t 10 secrets-env_secrets-env_secrets-1
ExecStopPost=-/usr/bin/docker rm -f secrets-env_secrets-env_secrets-1

[X-Fleet]
Conflicts=secrets-env_secrets-env_secrets-mn@*.service
MachineOf=secrets-env_secrets-env_secrets-sc@1.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
