[Unit]
Description=Secrets unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-sc@1.service
After=docker.service
After=yard.service
After=secrets-env_secrets-env_secrets-sc@1.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=TODO

[X-Fleet]
Conflicts=secrets-env_secrets-env_secrets-sc@*.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
