[Unit]
Description=Secrets unit for secrets/env_secrets/env_secrets [slice 1]
Requires=docker.service
Requires=secrets-env_secrets-env_secrets-mn@1.service
After=docker.service

[Service]
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=--log-driver=test"
Environment="A01=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/58bb81f10a982cde767a35beee41f1b46de763a2"
Environment="A02=--job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986"
Environment="A03=secret/certificates/api.pulcy.com"
Environment="A04=--log-driver=test"
Environment="A05=--target /tmp/secrets/secrets-env_secrets-env_secrets-1/environment"
Environment="A06=--job-id 60B6C022-5316-4F0B-AEC6-F3EE0E73A986"
Environment="A07=MYSECRET_KEY=secret/foo#somevalue"
Environment="SCROOT=/tmp/secrets/secrets-env_secrets-env_secrets-1:/tmp/secrets/secrets-env_secrets-env_secrets-1"
Environment="VOLCLS=/etc/pulcy/cluster-id:/etc/pulcy/cluster-id:ro"
Environment="VOLCRT=/etc/pulcy/vault.crt:/etc/pulcy/vault.crt:ro"
Environment="VOLMAC=/etc/machine-id:/etc/machine-id:ro"
ExecStartPre=/usr/bin/mkdir -p /tmp/secrets/secrets-env_secrets-env_secrets-1
ExecStartPre=/usr/bin/docker pull pulcy/vault-monkey:latest
ExecStartPre=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1-sc -v ${SCROOT} -v ${VOLCRT} -v ${VOLCLS} -v ${VOLMAC} --env-file /etc/pulcy/vault.env $A00 pulcy/vault-monkey:latest extract file $A01 $A02 $A03
ExecStart=/usr/bin/docker run --rm --name secrets-env_secrets-env_secrets-1-sc -v ${SCROOT} -v ${VOLCRT} -v ${VOLCLS} -v ${VOLMAC} --env-file /etc/pulcy/vault.env $A04 pulcy/vault-monkey:latest extract env $A05 $A06 $A07

[X-Fleet]

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
