[Unit]
Description=Main unit for volumes/v2/v2 [slice 1]
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="A00=-v /etc:/etc"
Environment="A01=-v /var/run/docker.sock:/tmp/docker.sock"
Environment="A02=-e SERVICE_NAME=volumes-v2-v2"
Environment="A03=--log-driver=test"
ExecStartPre=/usr/bin/docker pull v2:latest
ExecStartPre=-/usr/bin/docker stop -t 10 volumes-v2-v2-1
ExecStartPre=-/usr/bin/docker rm -f volumes-v2-v2-1
ExecStartPre=-/home/core/bin/docker-cleanup.sh
ExecStartPre=/bin/sh -c 'test -e /etc || mkdir -p /etc'
ExecStartPre=/bin/sh -c 'test -e /var/run/docker.sock || mkdir -p /var/run/docker.sock'
ExecStart=/usr/bin/docker run --rm --name volumes-v2-v2-1 -P $A00 $A01 $A02 $A03 v2:latest
ExecStop=-/usr/bin/docker stop -t 10 volumes-v2-v2-1
ExecStopPost=-/usr/bin/docker rm -f volumes-v2-v2-1

[X-Fleet]
Conflicts=volumes-v2-v2-mn@*.service

[X-testproject]
GeneratedBy="testproject test-version, build test-build"
